<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="ExtentPack.extentClass" />
	</listeners>


  <test thread-count="5" name="Test">
    <classes>
     <class name="TestCases.LoginPageTest"/>
     
      <class name="TestCases.HomePageTest"/>
      <class name="TestCases.ManageApointPageTest"/>
      <class name="TestCases.FindPatientPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
