<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RestAssuredTestCase.Test_POST"/>
      <class name="RestAssuredTestCase.Test_GET"/>
      <class name="RestAssuredTestCase.TestT01_GET"/>
      <class name="RestAssuredTestCase.Test_PUT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
